@model Capstone.Web.Models.PotholeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    @*<potholemap></potholemap>

    <form action="Index" method="get">
        <input type="hidden" name="IsValidated" value="true" />
        <input type="text" name="UserName" placeholder="Search By Submitter Username" />
        <input type="text" name="Street1" placeholder="Search On Street" />
        <input type="text" name="Street2" placeholder="Search by Street near street pothole is on" />
        <select title="Severity" name="Severity">
            <option value="1">1</option>
            <option value="1">1</option>


        </select>
        <button>SEARCH</button>
    </form>*@


    <table class="table-index-page">
        <th colspan="5">Current Confirmed Potholes:</th>

        <tr style="font-weight:bold">
            <td>Severity</td>
            <td>First Cross Street</td>
            <td>Second Cross Street</td>
            <td>Location</td>
            <td>Pothole Description</td>
        </tr>
        @foreach (var pothole in Model.PotholeList)
        {
            <tr>
                <td>@pothole.Severity</td>
                <td>@pothole.Street1</td>
                <td>@pothole.Street2</td>
                <td>@pothole.LocationDesc</td>
                <td>@pothole.PotholeDesc</td>
            </tr>
        }
    </table>

    <script src="~/RiotComponents/potholemap.tag" type="riot/tag"></script>
    <script>
        riot.mount('potholemap');
    </script>

</body>


