@model List<Capstone.Web.Models.Pothole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowNum = 1;
}

<body>
    <h1>Pothole Tracker</h1>

    <img src="~/Content/map.png" />

    <h2>All currently confirmed potholes:</h2>

    <table class="table-index-page" style="color: white">

        <tr>
            <td></td>
            <td>First Cross Street</td>
            <td></td>
            <td>Second Cross Street</td>
            <td>Location</td>
            <td>Pothole Description</td>
        </tr>
        @foreach (var pothole in Model)
        {
            <tr>
                <td>@rowNum</td>
                <td>@pothole.Street1</td>
                <td></td>
                <td>@pothole.Street2</td>
                <td>@pothole.LocationDesc</td>
                <td>@pothole.PotholeDesc</td>
            </tr>
            rowNum++;
        }
    </table>



</body>


