@model List<Capstone.Web.Models.Pothole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <potholemap></potholemap>

    <table class="table-index-page">
        <th colspan="5">Current Confirmed Potholes:</th>

        <tr style="font-weight:bold">
            <td>Severity</td>
            <td>First Cross Street</td>
            <td>Second Cross Street</td>
            <td>Location</td>
            <td>Pothole Description</td>
        </tr>
        @foreach (var pothole in Model)
        {
            <tr>
                <td>@pothole.Severity</td>
                <td>@pothole.Street1</td>
                <td>@pothole.Street2</td>
                <td>@pothole.LocationDesc</td>
                <td>@pothole.PotholeDesc</td>
            </tr>
        }
    </table>

    <script src="~/RiotComponents/potholemap.tag" type="riot/tag"></script>
    <script>
        riot.mount('potholemap');
    </script>

</body>


