@model Capstone.Web.Models.WorkOrderViewModel
@{
        ViewBag.Title = "ReviewMyWorkOrders";
        Layout = "~/Views/Shared/_Layout.cshtml";
   

    string selectedValue = "";




    string GetDateString(DateTime date)
    {
        string result = "";
        result += date.Year.ToString() + "-";
        if (date.Month.ToString().Length == 1)
        {
            result += "0" + date.Month.ToString() + "-";
        }
        else
        {
            result += date.Month.ToString() + "-";
        }

        if (date.Day.ToString().Length == 1)
        {
            result += "0" + date.Day.ToString();
        }
        else
        {
            result += date.Day.ToString();
        }

        return result;
    }


}

<section>
    <h2>Review My Work Orders</h2>
    <p>View or update the statuses of your work orders.</p>
    <p> </p>




    @if (Request.IsAuthenticated && !User.IsInRole("citizen"))
    {
        foreach (var workOrder in Model.WorkOrders)
        {
            <div>
                <form method="post" action="@Url.Action("SubmitMyWorkOrders", "Home")">
                    <fieldset>
                        <p>Work Order: @workOrder.WorkOrderId</p>
                        <p> Type: @workOrder.TypeOfJob</p>
                        <div style="vertical-align:middle">
                            <input type="hidden" name="WorkOrderId" value="@workOrder.WorkOrderId" />
                            <input type="hidden" name="TypeOfJob" value="@workOrder.TypeOfJob" />
                            <input type="hidden" name="LeaderId" value="@workOrder.LeaderId" />
                            @if (workOrder.TypeOfJob == "Inspection")
                            {
                                <span style="vertical-align:middle">Inspection Status</span>
                                <select style="vertical-align:middle" name="InspectionComplete">
                                    @if (workOrder.InspectionComplete == false || workOrder.InspectionComplete == null)
                                    {
                                        selectedValue = "selected";
                                    }
                                    <option value="false" @selectedValue>Incomplete</option>
                                    @(selectedValue = "")
                                    @if (workOrder.InspectionComplete == true)
                                    {
                                        selectedValue = "selected";
                                    }
                                    <option value="true" @selectedValue>Complete</option>
                                    @(selectedValue = "")
                                </select>
                                if (User.IsInRole("crew_leader"))
                                {
                                    <span>Inspection Date: </span>
                                    <input type="date" value="@GetDateString(Convert.ToDateTime(workOrder.ToInspectDate))" name="ToInspectDate" />
                                }
                                else
                                {
                                    <input readonly type="date" value="@GetDateString(Convert.ToDateTime(workOrder.ToInspectDate))" name="ToInspectDate" />
                                }
                                <input type="hidden" value="@GetDateString(Convert.ToDateTime(workOrder.ToRepairDate))" name="ToRepairDate" />
                                <input type="hidden" name="RepairComplete" value="@workOrder.RepairComplete" />

                            }
                            else if (workOrder.TypeOfJob == "Repair")
                            {
                                <span style="vertical-align:middle">Repair Status</span>
                                <select style="vertical-align:middle" name="RepairComplete">
                                    @if (workOrder.RepairComplete == false || workOrder.RepairComplete == null)
                                    {
                                        selectedValue = "selected";
                                    }
                                    <option value="false" @selectedValue>Incomplete</option>
                                    @(selectedValue = "")
                                    @if (workOrder.RepairComplete == true)
                                    {
                                        selectedValue = "selected";
                                    }
                                    <option value="true" @selectedValue>Complete</option>
                                    @(selectedValue = "")
                                </select>
                                if (User.IsInRole("crew_leader"))
                                {
                                    <span>Repair Date: </span>
                                    <input type="date" value="@GetDateString(Convert.ToDateTime(workOrder.ToRepairDate))" name="ToRepairDate" />
                                }
                                else
                                {
                                    <input readonly type="date" value="@GetDateString(Convert.ToDateTime(workOrder.ToRepairDate))" name="ToRepairDate" />
                                }
                                <input type="hidden" value="@GetDateString(Convert.ToDateTime(workOrder.ToInspectDate))" name="ToInspectDate" />
                                <input type="hidden" name="InspectionComplete" value="@workOrder.InspectionComplete" />

                            }
                            <span>Notes: </span>
                            <textarea style="vertical-align:middle" name="Notes" value="@workOrder.Notes">@workOrder.Notes</textarea>
                            <button style="vertical-align:middle">Update</button>
                            <div style="vertical-align:middle;">
                                <div style="display:inline-block; vertical-align:top;">
                                    <fieldset style="background-color: rgb(162, 59, 114);">
                                        <p style="font-weight:bold">Potholes to Address: </p>
                                        @foreach (var pothole in workOrder.Potholes)
                                        {
                                            <p>Pothole #@pothole.PotholeId on @pothole.Street1</p>
                                        }
                                    </fieldset>
                                </div>
                                <div style="display:inline-block; vertical-align:top; margin-left:.05vw">
                                    <fieldset style="background-color: rgb(162, 59, 114);">
                                        <p style="font-weight:bold">Order Crew: </p>
                                        @foreach (var crewmember in workOrder.Crew)
                                        {
                                            <p>@crewmember.UserName</p>
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        }
    }


</section>
