@model Capstone.Web.Models.RoleAssignModel
@{
    ViewBag.Title = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="roleButtons">

    <h2>User Role Assignment</h2>
    @if (User.IsInRole("god"))
    {

        foreach (var user in Model.users)
        {
            <form method="post" action="@Url.Action("ChangeRole", "Home")">
                <fieldset>
                    <input type="radio" value="admin" name="role" id="Admin" />
                    <label for="Admin" style="background-color:#76bf2a">@('\u2656' + " Admin")</label>
                    <input type="radio" value="crew_leader" name="role" id="CrewLeader" />
                    <label for="CrewLeader" style="background-color:#083D77">@('\u2657' + " Crew_Leader")</label>
                    <input type="radio" value="crew_member" name="role" id="CrewMember" />
                    <label for="CrewMember" style="background-color:#453823">@('\u2659' + " Crew_Member")</label>
                    <input type="radio" value="citizen" name="role" id="Citizen" />
                    <label for="Citizen" style="background-color:#A23B72">@('\u2658' + " Citizen")</label>

                    <span name="userName">@user.UserName</span>
                    <input type="hidden" value="@user.Id" name="guid" />
                    @if (user.Roles[0].Equals("citizen"))
                    {
                        <span id="icon" style="background-color:#A23B72">@user.Roles[0]</span>
                        <button>CHANGE ROLE</button>
                    }
                    else if (user.Roles[0].Equals("crew_member"))
                    {
                        <span id="icon" style="background-color:#453823">@user.Roles[0]</span>
                        <button>CHANGE ROLE</button>
                    }
                    else if (user.Roles[0].Equals("crew_leader"))
                    {
                        <span id="icon" style="background-color:#083D77">@user.Roles[0]</span>
                        <button>CHANGE ROLE</button>
                    }
                    else if (user.Roles[0].Equals("admin"))
                    {
                        <span id="icon" style="background-color:#76bf2a">@user.Roles[0]</span>
                        <button>CHANGE ROLE</button>
                    }
                    else if (user.Roles[0].Equals("god"))
                    {
                        <span id="icon" style="background-color:#F4D06F">@user.Roles[0]</span>
                        <button>CHANGE ROLE</button>
                    }
                    else if (user.Roles[0].Equals("supergod"))
                    {
                    }

                </fieldset>


            </form>
        }
    }

    else
    {
        foreach (var user in Model.users)
        {
            <form method="post" action="@Url.Action("ChangeRole", "Home")">
                <fieldset>
                    <input type="radio" value="god" name="role" id="God" />
                    <label for="God" style="background-color:#F4D06F">@('\u2655' + " God")</label>
                    <input type="radio" value="admin" name="role" id="Admin" />
                    <label for="Admin" style="background-color:#76bf2a">@('\u2656' + " Admin")</label>
                    <input type="radio" value="crew_leader" name="role" id="CrewLeader" />
                    <label for="CrewLeader" style="background-color:#083D77">@('\u2657' + " Crew_Leader")</label>
                    <input type="radio" value="crew_member" name="role" id="CrewMember" />
                    <label for="CrewMember" style="background-color:#453823">@('\u2659' + " Crew_Member")</label>
                    <input type="radio" value="citizen" name="role" id="Citizen" />
                    <label for="Citizen" style="background-color:#A23B72">@('\u2658' + " Citizen")</label>

                    <span name="userName">@user.UserName</span>
                    <input type="hidden" value="@user.Id" name="guid" />
                    @if (user.Roles[0].Equals("citizen"))
                    {
                        <span id="icon" style="background-color:#A23B72">@user.Roles[0]</span>
                    }
                    else if (user.Roles[0].Equals("crew_member"))
                    {
                        <span id="icon" style="background-color:#453823">@user.Roles[0]</span>
                    }
                    else if (user.Roles[0].Equals("crew_leader"))
                    {
                        <span id="icon" style="background-color:#083D77">@user.Roles[0]</span>
                    }
                    else if (user.Roles[0].Equals("admin"))
                    {
                        <span id="icon" style="background-color:#76bf2a">@user.Roles[0]</span>
                    }
                    else if (user.Roles[0].Equals("god"))
                    {
                        <span id="icon" style="background-color:#F4D06F">@user.Roles[0]</span>
                    }
                    else if (user.Roles[0].Equals("supergod"))
                    {
                        <span id="icon" style="background-color:#F85A3E">@user.Roles[0]</span>
                    }
                    <button>CHANGE ROLE</button>

                </fieldset>


            </form>
        }
    }
</section>