@using Capstone.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section>
    
    <div id="loginSection">
        <h1 id="titleBar">Log In</h1>
        <img src="~/Content/road_night.jpg" style="width:494px; height: 312px; padding-top:3px; border-radius:4px" />


        <div id="loginForm" style="display:inline-block">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div id="email">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div id="password">

                @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div id="checkBox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <div id="button">

                <input type="submit" value="SIGN IN" />
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>

    }
        </div>
    </div>
</section>





@section Scripts {

}