@model Capstone.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section>

    <div id="loginSection">
        <h1 id="titleBar">Register</h1>
        <img src="~/Content/road_night.jpg" style="width:494px; height: 312px; padding-top:3px; border-radius:4px" />

        <div id="loginForm" style="display:inline-block">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <h6 id="passwordRequirements">Password must be 6 or more characters, have a capital letter, a number, and a special character.</h6>
                @Html.ValidationSummary(true)
                <div>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
                    @Html.ValidationMessageFor(model => model.Email)

                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)

                </div>
                <div>
                    <input type="submit" value="Register" />
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {


}
