@using Microsoft.AspNet.Identity
<nav>
    @if (Request.IsAuthenticated)

    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                @if (User.IsInRole("supergod")) //King
                {
                    <li style="background-color:#F85A3E; border-radius: 5px; padding-bottom: 1px; padding-top: 3px; padding-right: 3px;">
                        @Html.ActionLink('\u2654' + " Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>@Html.ActionLink("Role Manager", "RoleAssignment", "Home", routeValues: null, htmlAttributes: new { title = "Role Assign" })</li>
                }
                else if (User.IsInRole("god")) //Queen
                {
                    <li style="background-color:#F4D06F; border-radius: 5px; padding-bottom: 1px; padding-top: 3px; padding-right: 3px;">@Html.ActionLink('\u2655' + " Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li>@Html.ActionLink("Role Manager", "RoleAssignment", "Home", routeValues: null, htmlAttributes: new { title = "Role Assign" })</li>
                }
                else if (User.IsInRole("admin")) //Rook
                {
                    <li style="background-color:#76bf2a; border-radius: 5px; padding-bottom: 1px; padding-top: 3px; padding-right: 3px;">@Html.ActionLink('\u2656' + " Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                }
                else if (User.IsInRole("crew_leader")) //Bishop
                {
                    <li style="background-color:#083D77; border-radius: 5px; padding-bottom: 1px; padding-top: 3px; padding-right: 3px;">@Html.ActionLink('\u2657' + " Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                }
                else if (User.IsInRole("crew_member")) //Pawn
                {
                    <li style="background-color:#453823; border-radius: 5px; padding-bottom: 1px; padding-top: 3px; padding-right: 3px;">@Html.ActionLink('\u2659' + " Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                }
                else //Knight
                {
                    <li>@Html.ActionLink('\u2658' + " Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>

                }
                @*<li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" }) </li>*@
                <li>@Html.ActionLink("Report a New Pothole", "ReportPothole", "Home", routeValues: null, htmlAttributes: new { id = "reportLink" }) </li>

                @if (!User.IsInRole("citizen"))
                {
                    <li>@Html.ActionLink("Edit Pothole Database", "AdminPotholeEdit", "Home", routeValues: null, htmlAttributes: new { id = "EditLink" }) </li>
                    if (User.IsInRole("crew_leader") || User.IsInRole("crew_member") || User.IsInRole("god"))
                    {
                        if (User.IsInRole("crew_leader") || User.IsInRole("god"))
                        {
                            <li>
                                @Html.ActionLink("Create Work Order", "WorkOrder", "Home", routeValues: null, htmlAttributes: new { id = "EditLink" })
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Review Work Orders", "ReviewMyWorkOrders", "Home", routeValues: null, htmlAttributes: new { id = "EditLink" })
                        </li>
                    }
                }
                @*<li>@Html.ActionLink("Information on Potholes", "Index", "Home", routeValues: null, htmlAttributes: new { id = "reportLink" }) </li>*@
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            @*<li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" }) </li>*@
            <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            @*<li>@Html.ActionLink("Report a New Pothole", "Index", "Home", routeValues: null, htmlAttributes: new { id = "reportLink" }) </li>*@
            @*<li>@Html.ActionLink("Information on Potholes", "Index", "Home", routeValues: null, htmlAttributes: new { id = "reportLink" }) </li>*@
        </ul>
    }
</nav>

